!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %link{rel:"icon", type:"image/png", href:"{{ site.baseurl }}/assets/images/favicon.ico"}
    %title {{page.title}}
    / Mobile Specific Metas
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %link{href: "{{ site.baseurl }}/assets/stylesheets/{{ page.title | downcase }}.css", rel: "stylesheet"}/
    %link{href: "{{ site.baseurl }}/assets/stylesheets/site.css", rel: "stylesheet"}/
    %link{href: "{{ site.baseurl }}/assets/stylesheets/tuktuk.css", rel: "stylesheet"}/
    %link{href: "{{ site.baseurl }}/assets/stylesheets/tuktuk.theme.css", rel: "stylesheet"}/
    / TUKTUK.WIDGETS
    %link{href: "{{ site.baseurl }}/assets/stylesheets/tuktuk.icons.css", rel: "stylesheet"}/
    
    %script{src: "{{ site.baseurl }}/assets/javascripts/jquery-2.0.3.js"}
    %script{src: "{{ site.baseurl }}/assets/javascripts/tuktuk.js"}
    %script{src: "{{ site.baseurl }}/assets/javascripts/raphael.js"}

    
    :css
      body > header .logo {
          margin-top: 8px;
          margin-right: 8px;
          max-height: 30px; }

      body > footer img {
          height: 18px;
          position: relative;
          top: 5px;
         left: 2px; }

      section.landing input {
          border-radius: 5px 0px 0px 5px !important;

      }

      section.landing button {
          border-radius: 0px 5px 5px 0px !important;}
  %body
    / ========================== HEADER ==========================
    %header.bck.padding-top.padding-bottom
      .row
        .column_5
          %h2.text.light> Risk Factor: Know Yours
        %nav.column_7.text.right.normal{"data-tuktuk" => "menu"}
          %a#home{href: "{{ site.baseurl }}/", class: "{% if {{page.title}} == 'Home' %}active{% endif %}" }
            %span.icon.home>
            Home
          //%a#tests{href: "{{ site.baseurl }}/tests", class: "{% if {{page.title}} == 'Tests' %}active{% endif %}"}
          //Tests
          //%a#results{href: "{{ site.baseurl }}/algorithm", class: "{% if {{page.title}} == 'Algorithm' %}active{% endif %}"}
          //Algorithm
          %a#eye-nav{href: "{{ site.baseurl }}/eye", class: "{% if {{page.title}} == 'Eye' %}active{% endif %}" } Eye Test
          %a#pet-nav{href: "{{ site.baseurl }}/pet", class: "{% if {{page.title}} == 'Pet' %}active{% endif %}" } PET Scan
          %a#genes-nav{href: "{{ site.baseurl }}/genes", class: "{% if {{page.title}} == 'Genes' %}active{% endif %}" } Genetic Test
          %a#blood-nav{href: "{{ site.baseurl }}/blood", class: "{% if {{page.title}} == 'Blood' %}active{% endif %}" } Blood/CSF Test
    {{ content }}