!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title tuktuk - Landing Example
    / Mobile Specific Metas
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %link{href: "{{ site.baseurl }}/assets/stylesheets/custom.css", rel: "stylesheet"}/
    %link{href: "{{ site.baseurl }}/assets/stylesheets/tuktuk.css", rel: "stylesheet"}/
    %link{href: "{{ site.baseurl }}/assets/stylesheets/tuktuk.theme.css", rel: "stylesheet"}/
    / TUKTUK.WIDGETS
    %link{href: "{{ site.baseurl }}/assets/stylesheets/tuktuk.icons.css", rel: "stylesheet"}/
    
    %script{src: "//code.jquery.com/jquery-1.9.1.min.js"}
    %script{src: "{{ site.baseurl }}/assets/javascripts/tuktuk.js"}
    %script{src: "{{ site.baseurl }}/assets/javascripts/raphael.js"}

    
    :css
      body > header .logo {
          margin-top: 8px;
          margin-right: 8px;
          max-height: 30px; }

      body > footer img {
          height: 18px;
          position: relative;
          top: 5px;
          left: 2px; }

      section.landing input {
          border-radius: 5px 0px 0px 5px !important;

      }

      section.landing button {
          border-radius: 0px 5px 5px 0px !important;}
  %body.text.thin
    / ========================== HEADER ==========================
    %header.bck.margin-top.margin-bottom
      .row
        .column_7
          %h2.text.light> Risk Factor: Know Yours
        %nav.column_5.text.right{"data-tuktuk" => "menu"}
          %a{href: "{{ site.baseurl }}/", class: "{% if {{page.title}} == 'home' %}active{% endif %}" }
            %span.icon.home>
            Home
          %a{href: "{{ site.baseurl }}/play", class: "{% if {{page.title}} == 'play' %}active{% endif %}"}
            Playroom
          %a{href: "#"}
            Research
          %a{href: "{{ site.baseurl }}/about", class: "{% if {{page.title}} == 'about' %}active{% endif %}"}
            About
    {{ content }}

    %footer.bck.dark.padding