:plain
  ---
  layout: default
  title: Home
  ---

%section.bck.dark.text.center.padding
  .row
    .column_8.align.left{style: "font-size:2.8em"}
      %p.text.bold 
        %span.alz Alzheimer&apos;s
        By the time you know&hellip;
      %p.text.italic it's already too late
  %br
  .row
    .column_10.offset_2
      %h3.align.left
        Once neurodegeneration occurs, the damge is irreversable, so why would you wait until there are behavioral changes to diagnose Alzheimer&apos;s?
        %br
        %br
        We&apos;d like to set the bar a little higher: to diagnose Alzheimer's
        %span.text.italic before
        the damage affects behavior, so that we stop the disease before it affects your loved ones.

%section.bck.theme.text.left.padding
  .row
    .column_4#circles
      %h3.ontop#eye_label.text.bold
        %span.icon.eye-open
        Ocular Test
      %h3.ontop#blood_label.text.bold
        %img{src:"{{ site.baseurl }}/assets/images/needle.png"}
        Blood/CSF Test
      %h3.ontop#pet_label.text.bold
        %img{src:"{{ site.baseurl }}/assets/images/brain.png"}
        PET Scan
      %h3.ontop#genes_label.text.bold
        %img{src:"{{ site.baseurl }}/assets/images/dna.png"}
        Genetic Test
      %script{src:"{{ site.baseurl }}/assets/javascripts/circles.js"}
    .column_4.offset_4
      #starter
        %img{src:"{{ site.baseurl }}/assets/images/arrow2.png"}
        %h1.text.bold.color.normal Click to learn
      #eye
        %h1.align.left.text.bold Ocular Test
        %br
        %h3.align.left For a cheap and noninvasive look at conditions inside the brain, the eye exam is a valuable first tool. We examine multiple factors that could betray brain damage, such as retinal thickness, plaques, and vascular structure.
      #pet
        %h1.align.left.text.bold PET Scan
        %br
        %h3.align.left
          A radioactive tracer that bonds to amyloid is used to image the amyloid plaques in the brain, providing a way to diagnose the progress of the disease
          %i in vivo
          \.
      #blood
        %h1.align.left.text.bold Blood/CSF Test
        %br
        %h3.align.left This test measures levels of three proteins in the blood and cerebrospinal fluid (CSF). The CSF test, while more invasive, is more accurate, while the blood test is easy and cheap to administer.
      #genes
        %h1.align.left.text.bold Genetic Test
        %br
        %h3.align.left Certain genetic mutations greatly increase the risk of developing Alzheimer's, such as APOE &epsilon;4.
%section.bck.light.padding{style:"height:700px"}
  .row
    .column_6
      %h3.align.left A stastical algorithm combines the test results into a probability that a patient has Alzheimer's. Based on this, your doctor can recommend that:
      %br
    .column_3#slider
      %script{src:"{{ site.baseurl }}/assets/javascripts/slider.js"}
  .row#reccomendation_container
    .column_9.offset_1
      %h1#reccomendation.text.bold.column_4 you relax; your risk is very low. You should continue to receive regular testing to ensure that if anything does develop it can be treated immediately.