:plain
  ---
  layout: default
  title: Home
  ---

%section.bck.dark.text.center.padding
  .row
    .column_8.align.left{style: "font-size:2.8em"}
      %p.text.bold By the time you know&hellip;
      %p.text.italic it's already too late
  %br
  .row
    .column_10.offset_2
      %h3.align.left
        Once neurogeneration occurs, the damge is irreversable, so why would you wait until there are behavioral changes when diagnosing Alzheimer&apos;s?
        %br
        %br
        We&apos;d like to set the bar a little higher: diagnose Alzheimer's
        %span.text.italic before
        the damage affects behavior, so that we stop the disease before it affects your loved ones.

%section.bck.theme.text.left.padding{style: "height: 800px"}
  .row
    .column_4#circles
      %h4.ontop#eye_label
        %span.icon.eye-open
        Ocular Test
      %h4.ontop#blood_label
        %img{src:"{{ site.baseurl }}/assets/images/needle.png"}
        Blood Test
      %h4.ontop#pet_label
        %img{src:"{{ site.baseurl }}/assets/images/brain.png"}
        PET Scan
      %h4.ontop#genes_label
        %img{src:"{{ site.baseurl }}/assets/images/dna.png"}
        Genetic Test
      %script{src:"{{ site.baseurl }}/assets/javascripts/circles.js"}
    .column_4.offset_4
      #starter
        %img{src:"{{ site.baseurl }}/assets/images/arrow.png"}
        %h1.text.bold.color.normal Click to learn
      #eye
        %h1.align.left.text.bold Ocular Test
        %br
        %h3.align.left This test measures the thickness of the retina. The retina is used to as an accessible way to measure brain health, because it is really an extension of the brain itself. A thinner retina would imply more neurological damage.
      #pet
        %h1.align.left.text.bold PET Scan
        %br
        %h3.align.left
          A tracer containing a radioactive isotope and that bonds to amyloid is used to image the amyloid plaques in the brain, providing a way to diagnose the progress of the disease
          %i in vivo
          .
      #blood
        %h1.align.left.text.bold Blood Test
        %br
        %h3.align.left This test measures level of beta amyloid in the blood. As the number of amyloid plaques in the brain increases, there is less amyloid in the rest of the body, including the blood.
      #blood
        %h1.align.left.text.bold Blood Test
        %br
        %h3.align.left This test measures level of beta amyloid in the blood. As the number of amyloid plaques in the brain increases, there is less amyloid in the rest of the body, including the blood.