:plain
  ---
  layout: default
  title: about
  ---

%section.bck.theme.padding.text.center{style: "max-height: 100%; min-height: 800px"}
  .row
    .column_12
      .full-circle
        .quarter-circle-top-left{style: "background-color: red"}
          %h1.text.book#circle-top{style: "vertical-align: middle"} Genes
        .quarter-circle-top-right{style: "background-color: blue"}
          %h1.text.book#circle-top Eyes
        %br
        .quarter-circle-bottom-left{style: "background-color: green"}
          %h1.text.book#circle-bottom Blood
        .quarter-circle-bottom-right{style: "background-color: purple"}
          %h1.text.book#circle-bottom idk
