:plain
  ---
  layout: default
  title: Tests
  ---

%section#pet.color.white.padding
  .row.padding
    .column_12
      %h1.text.bold.align.center PET Scan
  .row
    .column_12
      %img{src:"{{ site.baseurl }}/assets/images/pet.jpg", alt:"retina", title:"retina", align:'right', style:"padding-left:15px"}
      %h2 Pittsburgh compuond is a radioactive tracer developed specifically to have high affinity for beta amyloid and to cross the blood-brain barrier well. It also contains a radioactive isotope with a short halflife. When it decays, it produces a positron. The positron collides with an electron, creating two photons traveling in opposite directions. Once detected, the original position of the decay can be extrapoloated. This allows for the creation of colored maps based on the concentration of decays, and therefore beta amyloid.
      
      
%section#eye.color.white.padding
  .row.padding
    .column_12
      %h1.text.bold.align.center Eye Test
  .row
    .column_12
      %img{src:"{{ site.baseurl }}/assets/images/retina.jpg", alt:"retina", title:"retina", align:"left", style:"padding-right:15px;"}
      %h2 Due to its convenience, this test is administered most frequently. It examines many characteristics of the eye to detect brain damage. A thinning retina can betray neuron death and prompt more test to determine the cause. Retinal plaques also can often be seen in the eye before they are visible in the brain. Telltale changes in the veins of the eye, specifically in thickness, length, curviness, and branching patterns can also alert doctors to brain issues.

%section#genes.padding.color.white
  .row.padding
    .column_12
      %h1.text.bold.align.center Genetic Test
  .row
    .column_12
      %img{src:"{{ site.baseurl }}/assets/images/retina.jpg", alt:"retina", title:"retina", align:"right", style:"padding-left:15px"}
      %h2 This test examines the alleles of certain genes assosciated with Alzheimer's. Certain genes, such as Amyloid Precursor Protein (APP), prenesilin 1, and prenesilin 2 guarantee that a patient will develop Alzheimer's, and increase risk of early onset. However, these genes account for fewer than 1% of cases; other mutations that increase the risk but do not guarantee that Alhzeimer's will develop are far more common. The most reliable such allele is APOE &epsilon;4, but other genes such as BIN1, CLU, PICALM, and CR1 are also tested. In addition, certain alleles can offer protection from Alzheimer's: while APOE &epsilon;4 increases risk, APOE &epsilon;2 reduces it.

%section#blood.padding.color.white
  .row.padding
    .column_12
      %h1.text.bold.align.center Blood/CSF Test
  .row
    .column_12
      %img{src:"{{ site.baseurl }}/assets/images/retina.jpg", alt:"retina", title:"retina", align:"left", style:"padding-right:15px;"}
      %h2 Both tests measure the concentration of three proteins: beta amyloid, tau protein, and a specific type of tau closely assosciated with neurofibrillary tangles called phosphorylated tau (P-tau). Cerebrospinal fluid (CSF) levels of beta amyloid decrease as more beta amyloid is deposited in plaques, and levels of tau and P-tau increase as neurons die and neurofibrillary tangles form. Blood levels should follow a similar pattern. The blood test, while less accurate, is cheap and noninvasive compared to the spinal tap required for CSF. The blood test can be given more frequently and the CSF test given as needed.