:plain
  ---
  layout: default
  title: Genes
  ---
%link{href: "{{ site.baseurl }}/assets/stylesheets/tests.css", rel: "stylesheet"}/
%section#genes.padding.color.white
  .row.padding
    .column_12
      %h1.text.bold.align.center Genetic Test
  .row
    .column_12
      -# http://www.medscape.com/viewarticle/586756_3
      
      %figure{style:"float:right; width: 420px; text-align:center;"}
        %img{src:"{{ site.baseurl }}/assets/images/genes.jpg", alt:"retina", title:"retina", align:"right", style:"padding-left:15px; height: 400px"}
        //%figcaption TEST CAPTION
      %h2 This test examines the alleles of certain genes associated with Alzheimer's. Certain genes, such as Amyloid Precursor Protein (APP), prenesilin 1 (PS1), and prenesilin 2 (PS2) guarantee that a patient will develop Alzheimer's, and increase the likelihood that symptoms will develop early (before 65). They increase production of beta amyloid. However, these genes account for fewer than 1% of cases; other mutations that increase the risk but do not guarantee that Alzheimer's will develop are far more common. The most reliable such allele is apolipoprotein E gene (APOE), specifically the allele &epsilon;4. Other genes associated with Alzheimer's such as BIN1, CLU, PICALM, and CR1 are also tested. In addition, certain alleles can offer protection from Alzheimer's: while APOE &epsilon;4 increases risk, a different allele, APOE &epsilon;2, offers some protection from Alzheimer's.