:plain
  ---
  layout: default
  title: Genes
  ---
%link{href: "{{ site.baseurl }}/assets/stylesheets/tests.css", rel: "stylesheet"}/
%section#genes.padding.color.white
  .row.padding
    .column_12
      %h1.text.bold.align.center Genetic Test
  .row
    .column_12
      -# http://www.medscape.com/viewarticle/586756_3
      
      %figure{style:"float:right; width: 415px; text-align:center; font-size: 35px"}
        %img{src:"{{ site.baseurl }}/assets/images/genes.jpg", alt:"retina", title:"retina", align:"right", style:"padding-left:15px; height: 400px"}
        %figcaption TEST CAPTION
      %h2 This test examines the alleles of certain genes assosciated with Alzheimer's. Certain genes, such as Amyloid Precursor Protein (APP), prenesilin 1, and prenesilin 2 guarantee that a patient will develop Alzheimer's, and increase risk of early onset. However, these genes account for fewer than 1% of cases; other mutations that increase the risk but do not guarantee that Alhzeimer's will develop are far more common. The most reliable such allele is APOE &epsilon;4, but other genes such as BIN1, CLU, PICALM, and CR1 are also tested. In addition, certain alleles can offer protection from Alzheimer's: while APOE &epsilon;4 increases risk, APOE &epsilon;2 reduces it.