:plain
  ---
  layout: default
  title: Pet
  ---
%link{href: "{{ site.baseurl }}/assets/stylesheets/tests.css", rel: "stylesheet"}/
%section#pet.color.white.padding
  .row.padding
    .column_12
      %h1.text.bold.align.center PET Scan
  .row
    .column_12
      -#http://www.omicsgroup.org/journals/application-of-positron-emission-tomography-in-drug-development-2167-0501.1000e128.php
      %h2
        %figure{style:"float:right; width: 430px; text-align:center"}
          %img{src:"{{ site.baseurl }}/assets/images/pet.gif", alt:"pet-scan", title:"pet-scan", align:'right', style:"margin-left:15px; width: 430px;"}
          %figcaption
            Reproduced with license: Blennow, K., and H. Zetterberg. &ldquo;Pinpointing Plaques with Pib.&rdquo;
            %span.text.italc Nat Med
            12, no. 7 (Jul 2006): 753-4; discussion 54, doi: 10.1038/nm0706-753.
        Pittsburgh compound is a radioactive tracer developed specifically to have high affinity for beta amyloid and to cross the blood-brain barrier well. This allows the tracer to accumulate
        %figure{style:"float:left; width: 240px; text-align:center"}
          %img{src:"{{ site.baseurl }}/assets/images/pet-machine.gif", alt:"pet-machine", title:"pet-machine", align:'left', style:"padding-left:15px;"}
          %figcaption
            Bhattacharyya, S. &ldquo;Application of Positron Emission Tomography in Drug Development.&rdquo;
            %span.text.italic Biochemistry and Pharmacology
            1, no. 6 (2012), doi: 10.4172/2167-0501.1000e128.
        where the amyloid plaques are. It also contains a radioactive isotope with a short half life that undergoes beta decay to produce a positron. The positron collides with an electron, creating two photons traveling in opposite directions. Using a circle of detectors, researchers can check for photons that arrive on opposite sides simultaneously, and the original position of the decay can be extrapolated from the paths of the photons. This allows for the creation of colored maps based on the concentration of decays in a location, and therefore beta amyloid concentration. As shown above, the normal control subject (NC) and mild cognitive impairment subject with no plaques (MCI-) lack the red areas signifying beta amyloid plaques that are present in the mild cognitive impairment with plaques (MCI+) and Alzheimer's Disease (AD) subjects.