:plain
  ---
  layout: default
  title: Pet
  ---
%link{href: "{{ site.baseurl }}/assets/stylesheets/tests.css", rel: "stylesheet"}/
%section#pet.color.white.padding
  .row.padding
    .column_12
      %h1.text.bold.align.center PET Scan
  .row
    .column_12
      -#http://www.omicsgroup.org/journals/application-of-positron-emission-tomography-in-drug-development-2167-0501.1000e128.php
      %h2
        %figure{style:"float:right; width: 430px; text-align:center"}
          %img{src:"{{ site.baseurl }}/assets/images/pet.png", alt:"pet-scan", title:"pet-scan", align:'right', style:"padding-left:15px; width: 430px;"}
          %figcaption TEST CAPTION
        Pittsburgh compuond is a radioactive tracer developed specifically to have high affinity for beta amyloid and to cross the blood-brain barrier well. This allows the tracer to accumulate where the amyloid plaques are.
        It also contains a radioactive isotope with a short halflife that undergoes beta decay to produce a positron.
        %figure{style:"float:left; width: 240px; text-align:center"}
          %img{src:"{{ site.baseurl }}/assets/images/pet-machine.gif", alt:"pet-machine", title:"pet-machine", align:'left', style:"padding-left:15px;"}
          %figcaption TEST CAPTION
        The positron collides with an electron, creating two  photons traveling in opposite directions. Using a circle of detectors, researchers can check for photons that arrive on opposite sides simultaneously, and the original position of the decay can be extrapoloated. This allows for the creation of colored maps based on the concentration of decays, and therefore beta amyloid.