:plain
  ---
  layout: default
  title: Eye
  ---
%link{href: "{{ site.baseurl }}/assets/stylesheets/tests.css", rel: "stylesheet"}/
%section#eye.color.white.padding
  .row.padding
    .column_12
      %h1.text.bold.align.center Eye Test
  .row
    .column_4
      %figure{style:"float:left; width: 410px; text-align:center;"}
        %img{src:"{{ site.baseurl }}/assets/images/retina.jpg", alt:"retina", title:"retina", align:"left", style:"margin-right:15px; width:390px;"}
        %figcaption
          S Frost, Y Kanagasingam, H Sohrabi, J Vignarajan, P Bourgeat, O Salvado, V Villemagne, et al. “Retinal Vascular Biomarkers for Early Detection and Monitoring of Alzheimer’s Disease,”
          %span.text.italic Translational Psychiatry
          3 (2013), doi: 10.1038/tp.2012.150
    .column_8
      %h2 Due to its convenience, this test is administered most frequently. It examines many characteristics of the eye to detect brain damage. A thinning retina can betray neuron death and prompt more test to determine the cause. Retinal plaques also can often be seen in the eye before they are visible in the brain. Telltale changes in the veins of the eye, specifically in thickness, length, curviness, and branching patterns can also alert doctors to brain issues.