:plain
  ---
  title: play
  ---

%html
  %head
    %script{src: "//code.jquery.com/jquery-1.9.1.min.js"}
    %script{src: "{{ site.baseurl }}/assets/javascripts/svg.js"}
  %body
    #container{style: "height: 1200px; width:1200px;"}
    %script{src:"{{ site.baseurl }}/assets/javascripts/circles.js"}
