:plain
  ---
  layout: default
  title: Play
  ---


%figure.caption
  %img{src:"{{ site.baseurl }}/assets/images/retina.jpg", alt:"retina", title:"retina", align:"left"}
  %figcaption A healthy retina