:plain
  ---
  layout: default
  title: Algorithm
  ---

%section.bck.theme.padding
  .row
    .column_12
      %h2 The algorithm used to combine this data is one of the most important pieces. Each test alone can miss some cases or diagnose Alzheimer’s where there is none. However, when the tests are taken to together it is far less likely to err. The algorithm would return a probability of developing AD and its various symptoms, for example 56% of patients with similar test results had trouble living unassisted 10 years later, so you have a 56% &plusmn; 5% chance of developing similar symptoms, with the 5% error determined by the accuracy of the algorithm in the real world. 
%section.bck.light.padding{style:"height:700px"}
  .row
    .column_6
      %h3.align.left#intro Your chance of developing Alzheimer's in the near future is 10%. Based on this, your doctor can recommend that:
      %br
    .column_3#slider
      %script{src:"{{ site.baseurl }}/assets/javascripts/slider.js"}
  .row#reccomendation_container
    .column_9.offset_1
      %h1#reccomendation.text.bold.column_4 you relax; your risk is very low. You should continue to receive regular testing to ensure that if anything does develop it can be treated immediately.