.section{
	height: 800px;
}

#circles {
	float: left;
	margin: 10px !important;

}

#slider{
	float:right;
}

#slider svg {
	height: 600px;
}

.ontop {
	z-index: 2;
	position: absolute;
}

.ontop img{
	height:26px;
	width:32px;
}

#eye_label {
	left: 665px;
	top: 820px;
}

#blood_label {
	left: 385px;
	top: 1090px;
}

#genes_label {
	left: 665px;
	top: 1090px;
}

#pet_label {
	left: 385px;
	top: 820px;
}

#container {
	height: 800px;
	width: 800px;
}

#eye, #pet, #blood, #genes {
	display: none;
}


#starter img {
	zoom: 2;
	position: relative;
	right: 100px;
}

#starter h1{
	position: relative;
	bottom: 60px;
}

#reccomendation {
	z-index: 2;
	position: relative;
	bottom:400px;
	left: 300px;
	width: 1000px;
}