.section{
	height: 800px;
}

#circles {
	float: left;
	margin: 10px !important;

}

#slider{
	float:right;
}

#slider svg {
	height: 600px;
}

.ontop {
	z-index: 2;
	position: relative;
}

.ontop img{
	height: 29px;
	width: 35px;
}

#eye_label {
	left:400px;
	bottom:500px;
}

#blood_label {
	left:100px;
	bottom: 275px;
}

#genes_label {
	left:400px;
	bottom: 350px;
}

#pet_label {
	left:100px;
	bottom:567px;
}

#container {
	height: 800px;
	width: 800px;
}

#eye, #pet, #blood, #genes {
	display: none;
}


#starter img {
	zoom: 2;
	position: relative;
	right: 140px;
}

#starter h1{
	position: relative;
	bottom: 20px;
	right:30px;
}

#reccomendation {
	z-index: 2;
	position: relative;
	bottom:400px;
	left: 300px;
	width: 1000px;
}