section {
	max-height:800px ;
}

#circles {
	float: left;
	margin: 10px !important;
	height: 700px;

}

.ontop {
	z-index: 2;
	position: relative;
	text-align: center;
}

.ontop img{
	height: 29px;
	width: 35px;
}

#eye_label {
	left:300px;
	bottom:500px;
}

#blood_label {
	left:20px;
	bottom: 275px;
}

#genes_label {
	left:300px;
	bottom: 350px;
}

#pet_label {
	left:30px;
	bottom:567px;
}

#container {
	height: 800px;
	width: 800px;
}

#eye, #pet, #blood, #genes {
	display: none;
}


#starter img {
	zoom: 2;
	position: relative;
	right: 140px;
}

#starter h1{
	position: relative;
	bottom: 20px;
	right:30px;
}

span.alz {
	font-size: 2.8em
}