body, html {
	height: 100%;
}

header {
	line-height: 3em;
}

figcaption{
	display:inline;
}

a#pet-nav:hover{
	color:#fdb800;
}

a#genes-nav:hover{
	color:#ff0064;
}

a#blood-nav:hover{
	color:#187fcb;
}

a#eye-nav:hover{
	color:#602bab;
}