#eye {
	background-color: #602bab;
}

#pet {
	background-color: #fdb800;
}

#genes {
	background-color: #ff0064;
}

#blood {
	background-color: #187fcb;
}

h1{
	font-size:6.8em !important;
}

#pet, #blood, #genes, #eye {
	min-height:90%;
}

#blood img {
	width: 400px;
}

a, figure {
    display: inline-block;
}

figure {
	text-align: center;
}
figcaption {
    margin: 10px 0 0 0;
    color:black;
    font-size: 85%;
}
figure {
    padding: 5px;
}