<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>tuktuk - Landing Example</title>
    <!-- Mobile Specific Metas -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
    <link href='{{ site.baseurl }}/assets/stylesheets/custom.css' rel='stylesheet'>
    <link href='{{ site.baseurl }}/assets/stylesheets/tuktuk.css' rel='stylesheet'>
    <link href='{{ site.baseurl }}/assets/stylesheets/tuktuk.theme.css' rel='stylesheet'>
    <!-- TUKTUK.WIDGETS -->
    <link href='{{ site.baseurl }}/assets/stylesheets/tuktuk.icons.css' rel='stylesheet'>
    <script src='//code.jquery.com/jquery-1.9.1.min.js'></script>
    <script src='{{ site.baseurl }}/assets/javascripts/tuktuk.js'></script>
    <style>
      body > header .logo {
          margin-top: 8px;
          margin-right: 8px;
          max-height: 30px; }
      
      body > footer img {
          height: 18px;
          position: relative;
          top: 5px;
          left: 2px; }
      
      section.landing input {
          border-radius: 5px 0px 0px 5px !important;
      
      }
      
      section.landing button {
          border-radius: 0px 5px 5px 0px !important;}
    </style>
  </head>
  <body class='text thin'>
    <!-- ========================== HEADER ========================== -->
    <header class='bck margin-top margin-bottom'>
      <div class='row'>
        <div class='column_7'><h2 class='text light'>Alzheimer's Risk Factor:</h2><h2 class='text bold'>Know Yours</h2>
        </div>
        <nav class='column_5 text right' data-tuktuk='menu'>
          <a class='active' href='#'><span class='icon home'></span>Home
          </a>
          <a href='#'>
            History
          </a>
          <a href='#'>
            Research
          </a>
          <a href='#'>
            About
          </a>
        </nav>
      </div>
    </header>
    {{ content }}
    <footer class='bck dark padding'>
      <div class='row margin-top margin-bottom'>
        <div class='column_5'>
          <p class='text bold big'>
            Handcrafted by
            <a class='display inline' href='http://tapquo.com'>
              <img src='http://cdn.tapquo.com/images/logo_footer.png'>
            </a>
          </p>
          We're a  user experiences company located in
          <span class='text normal'>Bilbao</span>,
        </div>
        <div class='column_4'>
          <p class='text bold big'>Join the team!</p>
          Let us know how you're!
          <a class='text underline color theme' href='mailto:hello@tapquo.com?subject=job'>Get in touch</a>
        </div>
        <div class='column_3'>
          <p class='text bold big'>Need some help?</p>
          For quick answers or help
        </div>
      </div>
      <a class='text underline color theme' href='https://twitter.com/tapquo' target='_blank'>follow us</a>
    </footer>
  </body>
</html>
