<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{page.title}}</title>
    <!-- Mobile Specific Metas -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
    <link href='{{ site.baseurl }}/assets/stylesheets/{{ page.title | downcase }}.css' rel='stylesheet'>
    <link href='{{ site.baseurl }}/assets/stylesheets/site.css' rel='stylesheet'>
    <link href='{{ site.baseurl }}/assets/stylesheets/tuktuk.css' rel='stylesheet'>
    <link href='{{ site.baseurl }}/assets/stylesheets/tuktuk.theme.css' rel='stylesheet'>
    <!-- TUKTUK.WIDGETS -->
    <link href='{{ site.baseurl }}/assets/stylesheets/tuktuk.icons.css' rel='stylesheet'>
    <script src='{{ site.baseurl }}/assets/javascripts/jquery-2.0.3.js'></script>
    <script src='{{ site.baseurl }}/assets/javascripts/tuktuk.js'></script>
    <script src='{{ site.baseurl }}/assets/javascripts/raphael.js'></script>
    <style>
      body > header .logo {
          margin-top: 8px;
          margin-right: 8px;
          max-height: 30px; }
      
      body > footer img {
          height: 18px;
          position: relative;
          top: 5px;
          left: 2px; }
      
      section.landing input {
          border-radius: 5px 0px 0px 5px !important;
      
      }
      
      section.landing button {
          border-radius: 0px 5px 5px 0px !important;}
    </style>
  </head>
  <body>
    <!-- ========================== HEADER ========================== -->
    <header class='bck padding-top padding-bottom'>
      <div class='row'>
        <div class='column_7'><h2 class='text light'>Risk Factor: Know Yours</h2></div>
        <nav class='column_5 text right' data-tuktuk='menu'>
          <a class="{% if {{page.title}} == 'Home' %}active{% endif %}" href='{{ site.baseurl }}/'><span class='icon home'></span>Home
          </a>
          <a class="{% if {{page.title}} == 'Tests' %}active{% endif %}" href='{{ site.baseurl }}/tests'>
            Tests
          </a>
          <a class="{% if {{page.title}} == 'Results' %}active{% endif %}" href='{{ site.baseurl }}/results'>
            Results
          </a>
          <a class="{% if {{page.title}} == 'About' %}active{% endif %}" href='{{ site.baseurl }}/about'>
            About
          </a>
        </nav>
      </div>
    </header>
    {{ content }}
    {% if {{page.title}} == 'Home' %}<footer class = "bck dark padding"></footer>{% endif %}
  </body>
</html>
